liferay-devcon main {
  background-color: #fafafa;
  height: 100vh;
}

liferay-devcon header {
  background-color: #30313f;
  height: 300px;
}

liferay-devcon .todos {
  -moz-box-shadow: 0 10px 6px -6px #30313f;
  -webkit-box-shadow: 0 10px 6px -6px #30313f;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #30313f;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

liferay-devcon .todos .todo-list {
  margin-top: 20px;
}

liferay-devcon .todos .todo-list div {
  background-color: #dadada;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 10px;
}

liferay-devcon nav {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

liferay-devcon .brand {
  color: white;
  font-size: 24px;
}

liferay-devcon .cards {
  margin-top: -180px;
  display: flex;
  flex-direction: row;
}
